altair==5.5.0
anaconda-anon-usage==0.4.4
archspec==0.2.3
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
boltons==23.0.0
Brotli==1.0.9
cachetools==5.5.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.8
colorama==0.4.6
conda==24.7.1
conda-content-trust==0.2.0
conda-libmamba-solver==24.1.0
conda-package-handling==2.3.0
conda_package_streaming==0.10.0
cryptography==42.0.5
distro==1.9.0
frozendict==2.4.2
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
jieba==0.42.1
Jinja2==3.1.5
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
libmambapy==1.5.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
menuinst==2.1.1
narwhals==1.20.1
networkx==3.4.2
numpy==2.2.1
packaging==23.2
pandas==2.2.3
pillow==11.0.0
platformdirs==3.10.0
pluggy==1.0.0
protobuf==5.29.2
pyarrow==18.1.0
pycosat==0.6.6
pycparser==2.21
pydeck==0.9.1
Pygments==2.18.0
pyparsing==3.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
rdflib==7.1.1
referencing==0.35.1
requests==2.32.2
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.17.21
setuptools==69.5.1
six==1.17.0
smmap==5.0.1
soupsieve==2.6
streamlit==1.41.1
streamlit-agraph==0.0.45
streamlit-option-menu==0.4.0
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
tqdm==4.66.4
truststore==0.8.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
watchdog==6.0.0
win-inet-pton==1.1.0
zstandard==0.22.0
